<script type="application/ld+json">
      [
        
{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "url": "{% if base.url %}{{ append: '{{ base.url }}' }}{% else %}{{ site.url }}{% endif %}",
  "logo": "{{ site.avatar }}"
}

{% if site.entity-stack.main %},

{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "name": "{{ site.brand }}",
  "url": "{{ site.url }}",
  
        "sameAs": [
        
        {% elsif site.entity-stack.linkedin %}"{{ site.entity-stack.linkedin }}",{% endif %}
        {% elsif site.entity-stack.twitter %}"https://twitter.com/{{ site.entity-stack.twitter }}",{% endif %}
        {% elsif site.entity-stack.facebook %}"https://facebook.com/{{ site.entity-stack.facebook }}",{% endif %}
        {% elsif site.entity-stack.instagram %}"{{ site.entity-stack.instagram }}",{% endif %}      
        
        "{{ site.entity-stack.main }}"

      
    ]
  
}

{% endif %},
          
      
  
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "publisher": {
    "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
    "name": "{{ site.brand }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.avatar }}",
      "height": 0,
      "width": 0
    }
  },
  "name": "",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "",
    "query-input": ""
  }
}
    
        
      ]
    </script>
