<script type="application/ld+json">
      [ 
{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "url": "{% if base.url %}{{ append: '{{ base.url }}' }}{% else %}{{ site.url }}{% endif %}",
  "logo": "{{ site.avatar }}"
}

,

{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "name": "{{ site.brand }}",
  "url": "{{ site.url }}",
        
        "sameAs": [
        
        {% unless site.entity-stack.main == blank %}{{ site.entity-stack.a }}{% endunless %}
        
    ]
  
}

,
          
      
  
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "publisher": {
    "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
    "name": "{{ site.brand }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.avatar }}",
      "height": 0,
      "width": 0
    }
  },
  "name": "",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "",
    "query-input": ""
  }
}
    
        
      ]
    </script>
