<script type="application/ld+json">
      [
        
{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "url": "{% if base.url %}{{ append: '{{ base.url }}' }}{% else %}{{ site.url }}{% endif %}",
  "logo": "{{ site.avatar }}"
},
{
  "@context": "http://schema.org",
  "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
  "name": "{{ site.brand }}",
  "url": "{{ site.url }}",
  
        "sameAs": [
      
        {% if site.entity-stack.linkedin %}"{{ site.entity-stack.linkedin }}",{% elsif site.entity-stack.twitter %}
      
        "https://twitter.com/{{ site.entity-stack.twitter }}"{% elsif site.entity-stack.facebook != blank %},
      
        "{{ site.entity-stack.facebook }}"
      
    ]
  
}
{% endif %}        ,
          
      
  
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "publisher": {
    "@type": "{% unless site.type %}Organization{% else %}{{ site.type }}{% endunless %}",
    "name": "{{ site.brand }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.avatar }}",
      "height": 0,
      "width": 0
    }
  },
  "name": "",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "",
    "query-input": ""
  }
}
    
        
      ]
    </script>
