<meta property="og:locale" content="{% unless site.og_locale %}en_US{% else %}{{ site.og_locale }}{% endunless %}" />
        <meta property="og:type" content="{% unless page.url =="/" %}article{% else %}website{% endunless %}" />
        <meta property="og:title" content="{% unless page.title %}{{ site.title }}{% else %}{{ page.title }}{% endunless %}" />
        <meta property="og:description" content="{% unless page.description %}{{ site.description }}{% else %}{{ page.description }}{% endunless %}" />
        <meta property="og:url" content="{% unless page.url %}{{ site.url }}{% else %}{{ page.url | prepend: site.url }}{% endunless %}" />
        <meta property="og:site_name" content="{{ site.og_site-name }}" />

{% if site.og_img contains 'https://' and site.og_img-width and site.og_img-height or page.og_img contains 'https://' and page.og_img-width and page.og_img-height %}

<meta property="og:image" content="{% unless page.og_img %}{{ site.og_img }}{% else %}{{ page.og_img }}{% endunless %}" />
<meta property="og:image:secure_url" content="{% unless page.og_img %}{{ site.og_img }}{% else %}{{ page.og_img }}% endunless %}" />
<meta property="og:image:width" content="{% unless page.og_img-width %}{{ site.og_img-width }}{% else %}{{ page.og_img-width }}{% endunless %}
" />
<meta property="og:image:height" content="{% unless page.og_img-height %}{{ site.og_img-height }}{% else %}{{ page.og_img-height }}{% endunless %}
" />

{% endif %}
