<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>{% unless page.id == 'gone' %}
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">{% endunless %}{% if page.id == 'gone' %}
        <meta name="robots" content="noindex,nofollow">{% elsif page.id != 'gone' and site.noindex %}
        <meta name="robots" content="noindex">{% endif %}

        {% unless page.id == 'gone' %}<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">{% endunless %}
        {% unless site.og_site-name == blank %}{% if page.description or site.description and site.title %}
        {% include ogtags.html %}{% endif %}{% endunless %}{% if page.description or site.description and site.title and site.tc_img contains 'https://' %}
        {% include twittercards.html %}{% endif %}
      
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | prepend: 'Feed | ' }}" href="{{ site.baseurl }}/feed.xml">

        {% unless site.name == blank %}{% if site.logo contains 'https://' and site.url contains 'https://' %}
        {% include json-ld.html %}{% endif %}{% endunless %}       
        
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-logo"><img src="{{ site.logo }}"></a>

          <nav>
            <a href="{{ site.baseurl }}/reviews">Reviews</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
     {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
         
            <p>Copyright &copy; 2020 &middot; BestChinaVPN.com</p>
            
            {% include svg-icons.html %}
        
          
          </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
