<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% if page.title %}{{ page.title }}{% endif %}{% if page.layout == "default" %}{{ site.title }}{% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
            <meta property="og:type" content="{% if page.url =="/" %}website{% else %}article{% endif %}" />

    <meta property="og:url" content="
               {% if page.url %}{{ page.url | prepend: site.url }}{% else %}{{ site.url }}{% endif %}" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <nav>
            <a href="{{ site.baseurl }}/reviews">Reviews</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
     {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
